 .ai-chat-widget {
  /* position: fixed; */
  /* bottom: 30px; */
  /* right: 40px; */
  z-index: 9999;
  font-family: Arial, sans-serif;
 } 

.chat-container {
  width: 300px;
  height: 400px;
  background: rgb(248, 248, 248);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 10px;
  background:  #013e80;;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* background-color: rgb(191, 255, 0); */

}
.chat-header h4 {
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 0;
  /* background-color: rgb(191, 255, 0); */
}
.chat-header h6 {
  color: white;
  font-weight: 200 !important;
  margin: 0;
  letter-spacing: 1px;
}

.header_text {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  font-size: 12px;
}

.message {
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  max-width: 80%;
}

.message.user {
  background: #ecf5fc;
  margin-left: auto;
  box-shadow: 2px 1px 3px #7fb9f7;
  
}

.message.assistant {
    background: #f6f4f4;
    margin-right: auto;
}

.chat-input {
  padding: 10px;
  border-top: 1px solid #eee;
  display: flex;
  /* background-color: gold; */
}

.chat-input input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-right: 10px;
  min-height: 22px;
  /* background-color: greenyellow; */

}

/* -------------------   boton trigger    ------------------- */
.chat-trigger {
  padding: 10px 20px;
  background: #01356d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button {
  color: white;
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 19px;
  /* font-weight: 500; */
  /* background-color: green; */
}

.send_button{
    border-radius: 10px;
    background-color: #0358b2;
}

.send{
    height: 14px;
    width: 30px;
}

/* -----------    scroll bar   ---------- */
    .chat-messages {
    scrollbar-width:thin ;
    scroll-behavior: smooth;
    scrollbar-color: hsla(256, 88%, 25%, 0.201) #fafafa; /* Color de la parte que se puede mover y el fondo */
  }